*{
    padding: 0;
    margin:0
}

body{
    background-color: black;
    color:rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

/* Estos son los estilos del header */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion-navegador{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 350px;
}

.logo{
    width: 70px;
    height: 70px;
}

.navegador{
    display: flex;
    flex-direction: row
}

.foto-hero{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

a{  padding: 15px;
    margin: 15px;
    background-color: aliceblue;
    font-size: 15px;
    font-family: 'Times New Roman', Times, sans-serif;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

header section a:hover{
    background-color:rgb(58, 226, 43);
    transition: 1s;
}

/* Fin estilos Header */

.contenedor-info-temid{
    text-align: center;
}

h1{
    color: white;
    font-size: 100px;
    text-align: center;
    padding-top: 80px;
}

p{
    font-size: 20px;  
}

/* Esto es contenedor Nosotrxs */
/* estos son los estilos de las cartas de integrantes */
h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, sans-serif;
    text-align: center;
    margin-top: 60px;
}
.integrantes-card{
    color: white;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.integrantes-card img{
    width: 200px;
    height: 250px;
}
/* Este es el fin de estilos de las cartas de integrantes */


/* Estos son los estilos de Escuela de tecnicos */
.escuela{
    font-size: 30px;
    font-family: 'Times New Roman', Times, sans-serif;
    text-align: center;
    margin-top: 60px;
}

.escuela h2{
    margin-bottom: 15px;
}

.escuela img{
    width: 100%;
    height: 100%;
}
/* Fin de estilos de escuela de tecnicos */

/* Estilos del formulario */
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    text-align: center;
    width: 250px;
    border: none;   
}

.container h3{
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
 .inputs{
     border: none;
     border-radius: 5px;
     padding: 3px;
     margin: 8px;
     background-color: rgba(251, 248, 248, 0.144);
     color: white;
}
 .boton{
    border: none;
    border-radius: 5px;
    background-color:white;
    color:black;
    font-size: 15px;
    padding: 3px 60px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 0px rgba(230, 234, 230, 0.71) ;
    transition: all;
    margin: 15px;
 }
 .labels{
    margin: 15px;
    color: white;
    font-size: 15px;
 }
 .textarea{
     margin:6px;
     border: none;
     border-radius: 9px;
     background-color: rgba(251, 248, 248, 0.144); 
     color:white;
 }
 .boton:hover{
     background-color: rgba(241, 252, 239, 0.71);
 }

 .imgForm{
    height: 150px;
    width: 250px;
 }

 /* Fin estilos del formulario */
 

 footer div section{
    font-size: 30px;

}

footer p{
    font-size: 30px;
}